* {
  box-sizing: border-box;
}

.albumdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: 'Genos', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nerko One', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Press Start 2P', cursive;
}

.homediv {
  width: 300px;
  color: white;
  background-color: pink;
  border: 20px solid plum;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  border: 20px solid plum;
}

.album-info {
  width: 300px;
  color: white;
  background-color: pink;
  border: solid 20px pink;
}

.buttondiv {
  display: flex;
  justify-content: center;
  border: solid plum 5px;
  background-color: plum;
}
